@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
@media (min-width:1200px) {
    .container {
        max-width: 1170px
    }
}
a {
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

a:hover {
    text-decoration: none
}
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
:focus{
    outline: none;
}
:hover{
    transition: 0.5s;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
button {
    cursor: pointer;
}

p {
    margin-bottom: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0
}

ul li {
    display: inline-block
}
.owl-dots {
    margin-top: 25px !important;
}
.owl-dot:focus {
    outline: none;
}
.owl-dot span {
    width: 15px !important;
    height: 15px !important;
    background: #ccc !important;
    border: 1px solid #1d1d1d !important;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #fac802 !important;
    width: 20px !important;
    height: 20px !important;
}
.owl-theme .owl-dots {
    display: flex;
    justify-content: center;
}
.owl-item img {
    width: initial !important;
}
.owl-stage {
    display: flex;
}
.owl-stage .owl-item {
    /* height: 100%; */
}
.owl-stage .item {
    height: 100%;
}
.form-control.error, select.error {
    border-color: red !important
}
.help-block.form-error {
    display: none !important;
}
label.error {
    display: none !important
}
.sec_pt {
    padding-top: 85px;
}
.sec_pb {
    padding-bottom: 50px;
}
.sec_title {
    text-align: center;
    margin-bottom: 80px;
}
.sec_title h3{
    font-size: 42px;
    font-weight: 700;
    color: #333333;
}
.sec_title p {
    font-size: 18px;
    color: #333333;
    margin-top: 20px;
}
.default_btn {
    background-color: #fbb604;
    color: #282828;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 17px 40px;
    display: inline-block;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
}
.default_btn:hover {
    color: #fff;
    animation: new-pulse 2s infinite;
}
.sec_btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.sec_btn .default_btn {
    background-color: #ff2c2b;
    color: #fff;
}
/********ANIMATION START********/
@keyframes pkgzoomanimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
} 
@keyframes pkgmoveanimation {
    0% {
        right: -39%;
    }

    50% {
        right: 61%;
    }

    100% {
        right: -39%;
    }
}  
@-webkit-keyframes new-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
@keyframes new-pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
} 
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    to {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}
.hvr-buzz-out:hover img {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@keyframes graphOne {
    0% {
        height: 0px;
    }

    100% {
        height: 93px;
    }
}
@keyframes graphTwo {
    0% {
        height: 0px;
    }

    100% {
        height: 113px;
    }
}
@keyframes graphThree {
    0% {
        height: 0px;
    }

    100% {
        height: 53px;
    }
}
@keyframes graphFour {
    0% {
        height: 0px;
    }

    100% {
        height: 142px;
    }
}
@keyframes magnifier {
    0% {
        right: 0%;
    }

    100% {
        right: 21%;
    }
}
@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 82% {
    width: 82%;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/********ANIMATION END********/

/********HEADER START********/
.sub-menu:hover .nest-sub-menu-ul{
    display: table;
}
ul.dropdown-menu.nest-sub-menu-ul {
    right: 0;
    position: absolute !important;
    left: 100%;
    top: 0% !important;
}
li.sub-menu {
    position: relative;
}
.dropdown ul li {
    border-bottom: 1px solid #fbb604;
    width: 100%;
}

.main_header {
    padding: 0px 63px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    position: relative;
    z-index: 2;
}
.main_header .navbar {
    padding: 0;
}
.main_header .navbar-brand {
    padding: 0;
}
.main_header .nav-link {
    font-size: 17px;
    font-weight: 500;
    color: #333333 !important;
    padding: 41px 33px !important;
    border-left: 1px solid #e8e8e8;
    position: relative;
}
.main_header .navbar-nav li:first-child a{
    border-left: none;
}
.main_header .nav-link:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: transparent;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 2;
}
.main_header .nav-link:hover:before {
    background-color: #fbb604;
}
.main_header .dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    top: 60px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 333;
    background-color: #ffffff;
    top: 100%;
}


.main_header .dropdown-item {
    padding: 10px 65px 10px 15px;
    font-weight: 500;
    color: #242329;
    /* border-bottom: 1px solid #fbb604; */
    line-height: 20px;
    font-size: 13px;
    text-transform: capitalize;
}
.main_header .dropdown-item:first-child {
    border-top: 1px solid #fbb604;
}
.main_header .dropdown-item:hover {
    color: #fff;
    background-color: #fbb604;
}
.header_btn {
    margin-left: 110px;
}
.header_btn a i{
    margin-left: 15px;
}
/********HEADER END********/

/********BANNER START********/
.main_banner {
    background-size: cover;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    position: relative;
}
.bnr_content h5, .bnr_content span.smallHeading {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
.bnr_content h3, .bnr_content h1 {
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
}
.bnr_content h3 span.text_1, .bnr_content h1 span.text_1 {
    color: #ffb800;
    font-weight: 700;
}
.text_1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25,end);
    animation-iteration-count: infinite;
}
.text_1::after {
    content: "|";
    position: absolute;
    right: -15px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1,end);
}
.bnr_content p {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.bnr_content a {
    margin: 55px 0 75px;
}
.home_bnr_img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.graph {
    position: absolute;
    bottom: 50%;
    left: 24%;
}
.graph_item {
    width: 30px;
    margin: 0 5px;
    position: relative;
}
.graph_item:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -15px;
    background-color: #22565d;
}
.graph1 {
    background-color: #ffd3b3;
    height: 93px;
    animation: graphOne 3s;
}
.graph2 {
    background-color: #f97560;
    height: 113px;
    animation: graphTwo 3s;
}
.graph3 {
    background-color: #5e97ff;
    height: 53px;
    animation: graphThree 3s;
}
.graph4 {
    background-color: #0f3870;
    height: 142px;
    animation: graphFour 3s;
}
.magnifier {
    position: absolute;
    right: 21%;
    bottom: 9%;
    animation: magnifier 3s;
}

/********BANNER END********/

/********SERVICE START********/
.services {
    background-color: #f1f9ff;
    padding-bottom: 85px;
}
.service_box {
    border-right: 1px solid #efefef;
    padding: 0px 35px 35px;
    position: relative;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 100%;
}
.service_box:hover {
    background-image: url(../images/webp/serv_box_bg.webp);
    background-color: #fff;
    box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.06);
}

.services .row .col-lg-4:first-child {
    border-left: 1px solid #efefef;
}

.serv_icon {
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.serv_icon img{
    width: 109px !important;
}

.service_box h3 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.service_box p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    margin: 32px 0;
}
.service_box a {
    font-size: 16px;
    font-weight: 500;
    color: #ff2c2b;
    border-radius: 3px;
    background-color: transparent;
    padding: 6px 18px;
    display: inline-block;
}   
.service_box:hover a {
    color: #fff;
    background-color: #ff2c2b;
    box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.18);
}   

/********SERVICE END********/

/********MARKETING SERVICES START********/
.marketing_services_title h5 {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 7px;
}
.marketing_services_title h3{
    font-size: 42px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}
.marketing_services_title h3 span{
    color: #4b018b;
}
.marketing_services_title p{
    font-size: 14px;
    color: #333333;
    margin-bottom: 3%;
}
.marketing_services_title ul li {
    margin-top: 20px;
    position: relative;
    padding-left: 45px;
}
.marketing_services_title ul li:before {
    content: "";
    position: absolute;
    background: url(../images/webp/check-circle.webp);
    width: 22px;
    height: 23px;
    background-size: contain;
    top: 0;
    left: 0;
}
.marketing_services_title ul li h4 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}
.marketing_services_wrap ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
}
.marketing_services_box {
    padding: 40px 29px;
    box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 5px;
}
.marketing_services_box h4 {
    font-size: 23px;
    font-weight: 400;
    color: #333333;
    margin: 30px 0 10px;
}
.marketing_services_box p {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}
.marketing_services_wrap ul li:nth-child(2) {
    position: relative;
    top: 108px;
}
.marketing_services_wrap ul li:nth-child(4) {
    position: relative;
    top: 108px;
}
/********MARKETING SERVICES END********/

/********PROJECTS START********/
.projects {
    background: url(../images/webp/projects_bg.webp) no-repeat;
    background-size: cover;
}
.project_box {
    border: 1px solid #ffffff29;
    background-color: transparent;
    padding: 40px 0;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.project_box:hover {
    border-color: #fbb604;
}
.project_box h5 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 25px 0;
}
.project_box h4 {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
}
.projects .cta_content {
    margin-top: 100px;
}
/********PROJECTS END********/

/********OUR TEAM START********/
.team_box {
    text-align: center;
}
.employee_img {
    position: relative;
    z-index: 1;
}
.employee_img:before{
    content: "";
    position: absolute;
    background: url(../images/webp/team_icon_bg.webp);
    width: 270px;
    height: 292px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.team_box:hover .employee_img:before {
    filter: invert(78%) sepia(86%) saturate(3866%) hue-rotate(359deg) brightness(97%) contrast(100%);
} 
.team_box h4 {
    font-size: 27px;
    font-weight: 400;
    color: #102039;
    margin-top:45px;
}
.team_box p {
    font-size: 14px;
    color: #f04b4d;
    margin-top: 10px;
}
/********OUR TEAM END********/

/********VIDEO PRESENTATION START********/
.video_presentation {
    position: relative;
}
.video_presentation:before {
    content: "";
    position: absolute;
    background-color: #f7f9fe;
    height: 200px;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
.video_box {
    background: url(../images/webp/video_bg.webp) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    flex-direction: column;
    text-align: center;
}

.video_box h3 {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 45px;
}
/* .video_box a {
    font-size: 23px;
    color: #ffffff;
    background-color: #fbb604;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: new-pulse 2s infinite;
} */
/********VIDEO PRESENTATION END********/

/********PACKAGE START********/
.packages {
    position: relative;
}
.packages:before {
    content: "";
    position: absolute;
    background: url(../images/webp/pkg_bg.webp);
    width: 100%;
    height: 95%;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    z-index: -1;
}


.package_box:before {
    content: "";
    position: absolute;
    background-color: #f7f9fe;
    border-radius: 100%;
    width: 315px;
    height: 315px;
    z-index: -1;
    bottom: -28%;
    right: -39%;
    animation-name: pkgzoomanimation, pkgmoveanimation;
    animation-iteration-count: infinite,infinite;
    animation-duration: 10s,25s;
}
.package_box:hover:before {
    background-color: transparent;
    background-image: -moz-linear-gradient( 122deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
    background-image: -webkit-linear-gradient( 122deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
    background-image: -ms-linear-gradient( 122deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
}

.pkg_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.pkg_title {
    background-color: #fffbdb;
    padding: 12px 25px 12px 26px;
    border-radius: 50px;
}
.pkg_title h4 {
    font-size: 24px;
    font-weight: 700;
    color: #681aa4;
    text-align: center;
    text-transform: uppercase;
}
.pkg_main h3 {
    color: #102039;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.pkg_bottom {
    padding: 17px 0 45px;
    text-align: center;
}
.pkg_list ul li {
    display: block;
    font-size: 15px;
    color: #5c697a;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 35px;
    padding-bottom: 12px;
}
.pkg_btn {
    background-color: #4c0c83;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    padding: 17px 40px;
    display: inline-block;
    margin-top: 20px;
}
.package_box:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(68,2,122) 0%, rgb(105,27,165) 100%);
}
.package_box {
    background-color: #fff;
    border: 1px solid #eef1fa;
    transition: all .5s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.package_box:hover .pkg_title {
    background-image: -moz-linear-gradient( -30deg, rgb(255,95,0) 0%, rgb(255,187,0) 100%);
    background-image: -webkit-linear-gradient( -30deg, rgb(255,95,0) 0%, rgb(255,187,0) 100%);
    background-image: -ms-linear-gradient( -30deg, rgb(255,95,0) 0%, rgb(255,187,0) 100%);
    background-color: transparent;
}
.package_box:hover .pkg_title h4 {
    color: #fff;
}
.package_box:hover  .pkg_main h3 {
    color: #fff;
}
.package_box:hover  .pkg_list ul li {
    color: #fff;
}
.package_box:hover .pkg_btn{
    color: #000;
    background-color: #fbb604;
    animation: new-pulse 2s infinite;
}
.pkg_before {
    position: absolute;
    top: 70px;
    right: 14%;
    z-index: -1;
    animation: rotate 50s infinite;
}
.pkg_after {
    position: absolute;
    top: 57px;
    left: 8%;
    z-index: -1;
    animation: rotate 75s infinite;
}
.pkg_bottom_price {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 10px;
    border-top: 1px solid #a2a2a238;
    margin-top: 10px;
}
.pkg_bottom_price .month_prie_left h4 span.cutting_price {
    padding: 0px;
    text-align: left;
    color: #999;
    text-decoration: line-through;
    font-weight: bold;
    display: block;
    font-size: 16px;
}
.pkg_bottom_price .month_prie_left h4 {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 0;
    color: #4c0c83;
    text-align: left;
}
.pkg_bottom_price .month_prie_left h4 strong {
    font-weight: 400;
    font-size: 22px;
    display: inline-block;
}
.pkg_bottom_price .month_prie_left h4 span {
    display: inline-block;
    font-size: 12px;
    color: #b2b8ca;
}
.pkg_bottom_price .month_prie_right p {
    line-height: 20px;
    text-align: right;
    font-weight: 500;
    padding-bottom: 0;
    font-size: 13px;
}
.pkg_bottom_price .month_prie_right p span {
    display: block;
    color: #999;
    font-size: 13px;
}
.package_box:hover .pkg_bottom_price .month_prie_right p {
    color: #fff;
}
.package_box:hover .pkg_bottom_price .month_prie_left h4 {
    color: #fff;
}
.package_box:hover .pkg_bottom_price .month_prie_left h4 span{
    color: #fff;
}
.package_box:hover .pkg_bottom_price .month_prie_right p span{
    color: #fff;
}
/********PACKAGE END********/

/********CTA START*******/
.cta {
    background-color: #102039;
    padding: 60px 0;
}
.cta_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta_title h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.cta_title p {
    font-size: 18px;
    color: #fff;
}
/********CTA END********/

/********TESTIMONIAL START********/
.testi_box {
    background-color: #ffffff;
    padding: 70px;
    height: 480px;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.testi_box p {
    font-size: 17px;
    color: #7a7f83;
}
.client_detail {
    display: flex;
    align-items: center;
}
.client_name {
    margin-left: 30px;
}
.client_name h4 {
    font-size: 25px;
    font-weight: 700;
    color: #102039;
}
.client_name p {
    font-size: 14px;
    color: #ff6900;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.testi_box:hover {
    box-shadow: 0px 0px 70px 0px rgba(23, 44, 221, 0.08);
    border-color: transparent;
}
.testi_box:hover .client_name p{
    color: #392dc8;
}
.testi_slider .owl-nav button.owl-prev, .testi_slider .owl-nav button.owl-next {
    margin: 1 !important;
    background: #fbb604 !important;
    padding: 17px !important;
    color: #fff;
}
.testi_slider .owl-nav button.owl-next {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.testi_slider .owl-nav button.owl-prev {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.testi_slider.owl-theme .owl-nav {
    margin-top: 0px;
    position: relative;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
}
.testi_slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: #8950b5 !important;
}
/********TESTIMONIAL END********/

/********FAQ START********/
.faq {
    background: url(../images/webp/faq_bg.webp) no-repeat;
    background-size: cover;
    /* height: 550px; */
}
.faq_title h3 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}
.faq_title p {
    font-size: 14px;
    color: #ffffff;
    margin: 40px 0;
}
.collapse_wrap .card {
    border: 1px solid #ffffff2e;
    background-color: #fff0;
    border-radius: 5px;
    margin: 5px 0;
}
.collapse_wrap .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 18px 28px;
}
.collapse_wrap .card-header a {
    display: flex;
    justify-content: space-between;
}
.collapse_wrap .card-header a h5 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
span.accordion_toggle {
    width: 20px;
    height: 20px;
    position: relative;
}
.collapse_wrap .card-header a.collapsed span:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 10px;
    width: 2px;
}

.collapse_wrap .card-header a span:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 2px;
    width: 10px;
}
.collapse_wrap .card-body {
    padding: 10px 30px 20px;
}
.collapse_wrap .card-body p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.card-list{
    padding-top: 10px;
}
.card-list li {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
ul.card-list li i {
    font-size: 8px;
    margin-right: 8px;
}
/********FAQ END********/

/********LATEST NEWS STARTS********/
.latest_news {
    border-top: 1px solid #00000014;
}
.blog_box {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 340px;
}
.blog_box:hover {
    border-color: transparent;
    box-shadow: 0px 0px 70px 0px rgb(23 44 221 / 14%);
}
.blog_box img {
    border-radius: 5px;
}
.blog_detail {
    padding: 33px;
}
.blog_detail h4{
    font-size: 18px;
    font-weight: 600;
    color: #102039;
}
.blog_detail h4{
    font-size: 18px;
    font-weight: 600;
    color: #102039;
    margin-bottom: 30px;
}
.blog_detail p{
    font-size: 13px;
    font-weight: 500;
    color: #4c0c83;
}
/********LATEST NEWS END********/

/********FOOTER START********/
footer {
    background-color: #1c0e27;
}
ul.footer_links.subfoot_links {
    margin: 0 0 0 20px;
}
.help {
    padding-bottom: 85px;
    border-bottom: 1px solid #3e3247;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.help h3 {
    font-size: 42px;
    font-weight: 400;
    color: #fff;
}
.ftr_cont h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 46px;
}
.footer_links {
    margin-top: 40px;
}
.footer_links li {
    display: block;
    margin: 13px 0;
}
.footer_links li a {
    color: #fff;
    font-size: 13px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer_links li a i {
    font-size: 9px;
    margin-right: 3px;
}
.footer_links li a:hover {
    color: #fbb604;
    margin-left: 5px;
}
.copyright {
    background-color: #2a1937;
    padding: 15px 0;
}
.copyright_txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright_txt p {
    font-size: 14px;
    color: #fff;
}
.copyright_txt p span{
    color: #fbb604;
}
.footer-social-wrap ul {
    display: flex;
    align-items: center;
}
.footer-social-wrap ul li {
    border: 2px solid #ffffff85;
    border-radius: 50px;
    margin-right: 10px;
    width: 46px;
    height: 45px;
    display: inline-block;
}
.footer-social-wrap ul li:hover{
    background-color: #fbb604;
    border: 2px solid #fbb604;
}
.footer-social-wrap ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer-social-wrap ul li a:hover{
   color: #fff;
}
/********FOOTER END********/

/********INNER CSS START********/
.banner_form {
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 30px;
}
.form_title h5 {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}
.form_title h4 {
    font-size: 63px;
    font-weight: 400;
    color: #333333;
    line-height: 63px;
}
.form_title h4 span{
    font-weight: 900;
    color: #ff2c2b;
}
.form_title h3 {
    font-size: 76px;
    font-weight: 700;
    line-height: 63px;
    color: #333333;
}
.form_title {
    margin-bottom: 30px;
}
.form_area input, .form_area textarea {
    background-color: #ececec;
    border-radius: 5px;
    border: none;
    height: 54px;
}
.form_area input::placeholder, .form_area textarea::placeholder {
    color: #757575;
}
.messege_field {
    display: none;
}
.form_btn_area {
    display: flex;
    justify-content: space-between;
}
.message_btn {
    background-color: #000000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fffefe;
    padding: 0px 52px;
    border: none;
    height:54px; 
}
.form_btn {
    background-color: #ff2c2b;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fffefe;
    padding: 0px 21px;
    text-transform: uppercase;
    border: none;
    height:54px;
}
.about_service {
    padding: 150px 0;
    background-color: #f1f9ff;
    position: relative;
}
.about_service .sec_title {
    margin-bottom: 0;
    text-align: left;
}
.about_serv_col {
    position: absolute;
    right: 0;
}
.about_service .sec_title p{
    font-size: 14px;
}

.about_service .sec_title h5{
    padding: 35px 0 10px 0;
    font-size: 1.25rem;
}
.inner_cta {
    background-image: -moz-linear-gradient( 90deg, rgb(144,51,133) 0%, rgb(70,2,163) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(144,51,133) 0%, rgb(70,2,163) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(144,51,133) 0%, rgb(70,2,163) 100%);
    padding: 25px 0;
    position: relative;
}
.inner_cta:before {
    content: "";
    position: absolute;
    background: url(../images/webp/inner_cta_before.webp);
    height: 214px;
    width: 100%;
    bottom: -1px;
}
.inner_cta_title {
    display: flex;
    align-items: center;
}
.inner_cta_title h3 {
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 30px;
}
.inner_cta_title h3 span{
    font-weight: 700;
}
.inner_cta_title h2 {
    font-size: 96px;
    font-weight: 900;
    color: #fbb604;
    line-height: 87px;
}
.inner_cta_title h2 span {
    font-weight: 400;
}
.inner_cta_btn {
    padding: 17px 0 35px;
    width: 100%;
    border-radius: 5px;
    background-color: #32124d;
    text-align: center;
}
.inner_cta_btn p {
    font-size: 18px;
    color: #ffffff;
}
.inner_cta_btn a {
    font-size: 14px;
    color: #000000;
    background-color: #fbb604;
    border-radius: 5px;
    padding: 8px 19px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
}
.inner_cta_left {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.inner_cta_right {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.inner_marketing_services {
    background-color: #f7f9fe;
}
.contact-us a {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    border-radius: 3px;
    background-color: transparent;
    padding: 25px 0px;
    display: inline-block;
}   
.contact-us:hover a {
    color: #ff2c2b;
    background-color: transparent;
    box-shadow: none;
}
.cont_form_btn {
    padding: 0px 80px;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 700;
}
.contact-us-form .form_btn_area {
    display: flex;
    justify-content: start;
}
.cont_form {
    margin-top: 30px;
}
.cont_form textarea {
    height: 155px;
}
.about-video{
    padding-bottom: 85px;
}
/********INNER CSS END********/




/******POPUP START******/
.popup_form .modal-dialog {
    max-width: 956px;
    margin: 1.75rem auto !important;
}

.popup_form .modal-content {
    border-radius: 22px;
    overflow: hidden;
    border: 2px solid #44027a;
    position: relative;
}
.popup_form .modal-content:before {
    content: "";
    position: absolute;
    background: url(../images/webp/popup_close.webp);
    height: 145px;
    width: 145px;
    right: -50px;
    top: -62px;
    z-index: 1;
}

.popup_right {
    background: url(../images/webp/popup_bg.webp) no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 0 22px 22px 0;
    position: relative;
}

.popup_form .modal-content .close {
    font-size: 27px;
    color: #fff;
    text-shadow: none;
    opacity: 0.99;
    float: inherit;
    top: 4px;
    right: 14px;
    position: absolute;
    z-index: 2;
}
.popup_form .modal-content .close:focus {
    outline: none;
}
.popup_left {
    padding: 45px 85px 45px 65px;
    position: relative;
}
.popup_left:before {
    content: "";
    background: url(../images/webp/popup_circle.webp);
    width: 124px;
    height: 322px;
    left: 0;
    bottom: 0;
    position: absolute;
}
.popup_left:after {
    content: "";
    background: url(../images/webp/popup_bottom_circle.webp);
    width: 65px;
    height: 148px;
    right: 50px;
    bottom: 30px;
    position: absolute;
}
.popup_form_box {
    text-align: center;
    position: relative;
}
.popup_form_box:before {
    content: "";
    position: absolute;
    background: url(../images/webp/choose-right.webp);
    width: 47px;
    height: 125px;
    right: -74px;
    top: -23px;
}
.popup_form_box:after {
    content: "";
    position: absolute;
    background: url(../images/webp/popup_triangle.webp);
    width: 24px;
    height: 29px;
    right: -60px;
    bottom: -10px;
}
.popup_form_box .form-control {
    height: 45px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding-left: 45px;
    position: relative;
    z-index: 1;
}
.popup_form_box input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: #bcbcbc;
}
.popup_form_box .form-group {
    position: relative;
    margin-bottom: 22px;
}
.popup_form_box .form-group i {
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 20px;
    color: #44027a;
}
.popup_btn h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 25px;
}
.popup_btn button {
    /* background-image: linear-gradient(90deg, #f79e0c, #f86a14); */
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 11px 35px;
    background-color: #fbb604;
    color: #282828;
}

/******POPUP END******/
  
 


/******client_img******/
.client_img ul li {
    width: 170px;
    height: auto;
    padding: 0 15px;
    cursor: pointer;
    filter: grayscale(100%);
    
}

.client_img ul li img {width: 100%;}
 
.client_img ul li:hover{
       filter: grayscale(0);
 }

/******client_img******/

/* How is Magento Versatile? section */


.how-is-magento-h3{

    margin-top: 5%;
}

.how-is-magento-image {
    text-align: right;
}

.how-is-magento-image img{

    margin: 50px 0 0;
    width: 90%;
}

.how-is-magento-heading p{

    margin-bottom: 4%;

}

/* How is Magento Versatile? section */



/* How Do Focus Keywords Help? */

.how-do-focus {

    margin: 2% 0;
    position: relative;

}

.how-is-magento-list  ul li::before{

    background: none;
    
    }
    

.how-is-magento-list ul li {

    list-style: disc;
    display: list-item;
    padding: 0;
    margin-left: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 0;
}

.how-do-focus-image {

    position: absolute;
    width: 100%;
    left: 7%;
}

.image-set{

    width: 40%;
}

.about_serv_img img {

    width: 80%;
    height:auto;
}

.magento {
    padding: 35px 0 0px 0;
    font-size: 1.25rem;
}

.why-choose-us{
font-size: 42px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}

.why-choose-us span{

    color: #4b018b;
}

section.reseller-focus.how-do-focus {
    margin: 0;
    padding: 4% 0 5%;
}
/* How Do Focus Keywords Help? */


/* shopify page */

.shopify-need-image{

    text-align: right;
}

.are-seo-services{

    font-size: 42px;
    font-weight: 700;
    color: #333333;
}

.shopify-need-image img {
    width: 100%;
    height: 100%;
}

/* shopify page */


/* wooCommerce page */

.wooCommerce-need-image img{

    margin-top: 30%;
}

.wooCommerce-need-image {

    text-align: right;
}

.wooCommerce-need-image img {
    
    width: 100%;
    margin: 22% 0 0 10%;
}

/* wooCommerce page */

/* bigcommerce-seo page */

.bigcommerce-seo-image img {

    margin: 35% 0 0 10%;
    width: 100%;
   
}
/*bigcommerce-seo page */


/* one-page */

.one-page-image-3{

    position: absolute;
    width: 100%;
    top: -5%;

}

.one-page-image-3 img{
    width: 29%;
    margin-top: 5%;
}

.most-effective{

    margin: 5% 0 0% 0;
}

.on-page-image-1 img{

    width: 80%;
}

/* one page */

/* off page */

.off-page-image-2{

    text-align: right;
}

.off-page-image-2 img {

    margin: 20% 0 0;
    width: 100%;

}

/* off page */

/* keyword page */

.keyword-page p{

    margin-bottom: 2%;
}

.keyword-how-can-bg {

    background: #f7f9fe;;
    z-index: -1;
   
}

.keyword-how-can-bg::before{

    height: 100%;
    background: none;
}

.keyword-image{

    position: relative;
    margin-bottom: 20px;
}

.keyword-margin-top{

    margin-top: 6%;
}

.keyword-content-image {
    position: absolute;
    right: 0;
    bottom: 8%;
    left: 3%;
}

.keyword-content-get-batter-image {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.get-batter {
    
    background: #f7f9fe;
}

.keyword-content-image img {
    width: 90%;
}

/* keyword page */

