@media (max-width:1800px){
    .home_bnr_img{right:-82px;}
    .main_banner{background-position:center;}

    /* inner-pages-responsive */
    .inner_cta_left{left:30px;}
    .inner_cta:before{background-position:50%;}
}
@media (max-width:1600px){
    .main_header .nav-link{padding:41px 25px!important;}
    .header_btn{margin-left:25px;}
    .home_bnr_img{right:-116px;width:63%;}
    .home_bnr_img img{width:100%;}

    /* inner-pages-responsive */
    .inner_cta:before{background-position:55%;}
    .inner_cta_left img{width:220px;}
    .inner_cta_right img{width:248px;}
}
@media (max-width:1440px){
    .image-set {
        width: 38%;
    }
    .header_btn .default_btn{font-size:15px;padding:13px 28px;}

    /* inner-pages-responsive */
    .form_title h4{font-size:55px;}
    .form_title h3{font-size:70px;}
    .inner_cta_left img{width:180px;}
    .inner_cta_left{left:-22px;}
    .inner_cta_right img{width:220px;}
    .inner_cta_right{right:-70px;}
    

}
@media (max-width:1366px){
    .main_header .nav-link{padding:30px 17px!important;font-size:15px;}
    .logo{width:100%;}
    .navbar-brand{width:155px;}
    .graph_item{width:25px;margin:0 4px;}
    .graph1{height:73px;}
    .graph2{height:93px;}
    .graph3{height:33px;}
    .graph4{height:122px;}
    @keyframes graphOne{
        0%{height:0px;}
        100%{height:73px;}
    }
    @keyframes graphTwo{
        0%{height:0px;}
        100%{height:93px;}
    }
    @keyframes graphThree{
        0%{height:0px;}
        100%{height:33px;}
    }
    @keyframes graphFour{
        0%{height:0px;}
        100%{height:122px;}
    }
    .pkg_after{left:0%;}
    .pkg_before{right:2%;}

    /* inner-pages-responsive */
    .banner_form{padding:30px 30px;}
    .form_title h4{font-size:40px;}
    .form_title h3{font-size:55px;}
    .message_btn{padding:0px 45px;}
    .inner_cta:before{background-position:50%;}
    .inner_cta_left{left:-30px;}
    .inner_cta_left img{width:150px;}
    .inner_cta_right{display:none;}
    .header_btn{margin-left:50px;}
    .main_banner{height:auto!important;padding:55px 0;}
    .bnr_content h5{font-size:22px;}
    .bnr_content h3, .bnr_content h1{font-size:54px;}
    .bnr_content p{font-size:16px;}
    .bnr_content a{margin:40px 0 50px;}
    .how-do-focus-image {position: absolute;width: 100%;left: 7%;top: 13%;}
    .shopify-image{top: 9%;}
    .shopify-image img{width: 42%;}
    .bigcommerce-image{top: 23%;}
    .bigcommerce-seo1-image {left: 5%;top: 12%;}
    .bigcommerce-seo1-image img {width: 45%;}
    .wooCommerce-image {left: 5%; top: 10%;}
    .wooCommerce-image img {width: 43%;}
    .wooCommerce-need-image img {margin: 22% 0 0 4%;}
    .one-page-image-3 {position: absolute;width: 100%;left: 7%;top: 10%}
    .one-page-image-3 img {width: 38%;}
    .on-page-image-1 img{width: 100%;}
    .about_serv_img img{width: 100%;}
  
}
@media (max-width:1280px){
    .main_header{padding:0px 25px;}
    .graph_item{width:23px;}

    /* inner-pages-responsive */
    .inner_cta_left{display:none;}
    .inner_cta_title h2{font-size:84px;line-height:82px;}
}
@media (max-width:1199px){
    .header_btn,.home_bnr_img{display:none;}
    .bnr_content img{display:block;width:450px;}
    .main_banner{background-position:left;height:640px;}
    .bnr_content h3, .bnr_content h1{display:inline-block;}
    .marketing_services_title h5{font-size:16px;}
    .marketing_services_title h3{font-size:38px;}
    .marketing_services_title p{font-size:13px;}
    .marketing_services_title ul li h4{font-size:17px;}
    .marketing_services_box{padding:30px 15px;}
    .marketing_services_box h4{font-size:20px;margin:15px 0 5px;}
    .marketing_services_box p{font-size:12px;line-height:20px;}
    .sec_title h3{font-size:36px;}
    .sec_title p{font-size:16px;}
    .sec_title{margin-bottom:60px;}
    .project_box h5{font-size:15px;margin:15px 0;}
    .project_box h4{font-size:31px;}
    .pkg_title{padding:9px 9px 9px 22px;}
    .pkg_main h3{font-size:32px;margin-top:10px;}
    .pkg_title h4{font-size:20px;}
    .pkg_top img{width:90px;}
    .help h3{font-size:39px;}
    .pkg_before,.pkg_after{display:none;}
    .client_img ul li {
    width: 140px;
    }

    /* inner-pages-responsive */
    .inner_cta_btn a{font-size:12px;}
    .inner_cta_btn p{font-size:14px;}
    .inner_cta_title h3{font-size:32px;}
    .inner_cta_title h2{font-size:64px;line-height:59px;}
    .inner_cta:before{background-position:56%;background-size:120%;background-repeat:no-repeat;bottom:-28px;}
    .form_title h4{font-size:30px;line-height:50px;}
    .form_title h3{font-size:45px;line-height:30px;}
    .form_area input,.form_area textarea{height:45px;font-size:15px;}
    .message_btn{font-size:14px;padding:0px 15px;height:45px;}
    .form_btn{font-size:14px;padding:0px 17px;height:45px;}
    .packages::before {height: 95%;}
    .how-do-focus-image{top: 24%;}
    .wooCommerce-image{top: 30%}
    .how-is-magento-list ul li{font-size: 15px;}
    .why-choose-us{font-size: 38px;}
    .are-seo-services{font-size: 36px;}
    .one-page-image-3{    top: 22%;}
    
}
@media (max-width:991px){
    .bnr_content a{margin:35px 0 45px;}
    .navbar-toggler{border:none;background-color:#fbb604;}
    .main_header .nav-link{padding:10px 65px 10px 15px!important;border-bottom:1px solid #fbb604;line-height:20px;border-left:none;}
    .main_header{padding:15px 25px;}
    .main_header .nav-link::before{display:none;}
    .main_header .navbar-expand-lg .navbar-nav .dropdown-menu{position:relative;top:0;}
    .main_header .dropdown-item{padding:10px 65px 10px 50px;}
    .sec_title p{font-size:14px;margin-top:10px;}
    .sec_title h3{font-size:33px;}
    .sec_title{margin-bottom:40px;}
    .sec_pt{padding-top:45px;}
    .sec_pb{padding-bottom:45px;}
    .marketing_services_wrap ul li:nth-child(4),.marketing_services_wrap ul li:nth-child(2){position:static;}
    .marketing_services_wrap{margin-top:30px;}
    .project_box{display:flex;flex-direction:column;align-items:center;}
    .row.responsive_slider_projects,.row.responsive_slider_teams,.row.responsive_slider_blog,.row.responsive_slider_pkg{margin:0 auto!important;}
    .projects .cta_content{margin-top:65px;}
    .cta_title h3{font-size:25px;}
    .cta_title p{font-size:14px;color:#fff;}
    .default_btn{font-size:15px;padding:13px 35px;}
    .employee_img img{width:100%!important;}
    .team_box{padding-top:15px;}
    .employee_img::before{width:210px;height:227px;background-size:contain;background-repeat:no-repeat;}
    .team_box h4{font-size:23px;margin-top:30px;}
    .team_box p{font-size:13px;margin-top:7px;}
    .video_box{height:380px;border-radius:15px;}
    .video_box h3{font-size:35px;margin-bottom:45px;}
    .video_box a{width:90px;height:90px;}
    .testi_box{height:auto;}
    .client_detail{margin-top:30px;}
    .faq{height:auto;}
    .collapse_wrap{margin-top:45px;}
    .blog_box img{width:100%!important;}
    .help h3{font-size:25px;}
    .help{padding-bottom:45px;}

    /* inner-pages-responsive */
    .bnr_content img{padding:25px 0;}
    .form_btn_area{justify-content:start;}
    .form_btn{margin-left:30px;}
    .about_service{padding:45px 0;}
    .about_serv_img img{width:330px;}
    .inner_cta_title h2{font-size:50px;line-height:47px;}
    .inner_cta_title h3{font-size:29px;margin-right:5px;}
    .inner_cta:before{bottom:-42px;}
    .inner_cta_btn{padding:0;width:0%;}
    .inner_cta_btn a{font-size:15px;width:80%;}
    .inner_cta_btn p{display:none;}
    .banner_form{margin-top:30px;}
    ul.dropdown-menu.nest-sub-menu-ul {right: 0;position: static !important;left: auto;top: 100% !important;display: table;margin-left: 50px;}
    .how-is-magento-image img{display: none;}
    .how-do-focus-image{display: none;}
    .shopify-need-image {display: none;}
    .bigcommerce-image{display:none;}
    .wooCommerce-need-image{display: none;}
    .are-seo-services{font-size: 33px;}
    .bigcommerce-seo-image img {display: none;}
    .one-page-image-3 img {display: none;}
    .off-page-image-2 img{display: none;}
    .keyword-content-get-batter-image{display: none;}
    .keyword-content-image{display: none;}
    
    
}
@media (max-width:767px){
    .bnr_content h3, .bnr_content h1{font-size:55px;}
    .bnr_content h5{font-size:22px;}
    .bnr_content p{font-size:16px;}
    .sec_title p br{display:none;}
    .serv_icon{margin-bottom:80px;}
    .cta_content,.help{flex-direction:column;text-align:center;}
    .cta_title{margin-bottom:20px;}
    .employee_img::before{width:236px;height:255px;}
    .video_box h3{font-size:28px;margin-bottom:35px;}
    .video_box{height:auto;padding:55px 0;}
    .video_presentation::before{height:158px;}
    .sec_title h3{font-size:30px;}
    .faq_title h3{font-size:30px;}
    .faq_title p{font-size:14px;margin:20px 0;}
    .help h3{margin-bottom:20px;}
    .ftr_cont h4{margin-top:25px;}
    .footer_links{margin-top:20px;}

    /* inner-pages-responsive */
    .about_serv_img{display:none;}
    .inner_cta:before{display:none;}
    .inner_cta_title h3{font-size:23px;}
    .inner_cta_title h2{font-size:40px;line-height:30px;}
    .inner_cta_btn a{width:65%;}
    .are-seo-services{font-size: 30px;}

}
@media (max-width:575px){
    .bnr_content h5{font-size:20px;}
    .bnr_content h3, .bnr_content h1{font-size:40px;}
    .bnr_content p{font-size:13px;}
    .bnr_content img{width:100%;}
    .serv_icon{margin-bottom:35px;}
    .marketing_services_title h3{font-size:30px;}
    .marketing_services_wrap ul{display:block;}
    .help h3{font-size:23px;}
    .help h3 br{display:none;}
    .copyright_txt{flex-direction:column;text-align:center;}
    .copyright_txt p{margin-bottom:15px;}

    /* inner-pages-responsive */
    .inner_cta_btn a{left:80%;bottom:12px;width:24%;}
    .marketing_services_box{display:table;margin:0 auto;}
    .packages:before {height: 98%;}
    .how-do-focus {margin: 8% 0;}
    .why-choose-us {font-size: 30px;}
}
@media (max-width:414px){
    .main_header .navbar-brand{width:66%;}
    .main_header .navbar-brand img{width:100%;}
    .bnr_content h3, .bnr_content h1{font-size:31px;margin-top:7px;}
    .bnr_content h5{font-size:16px;}
    .bnr_content a{margin:25px 0 35px;}
    .sec_title h3{font-size:27px;}
    .sec_title p{font-size:13px;}
    .service_box h3{font-size:20px;}
    .serv_icon{margin-bottom:15px;}
    .service_box p{font-size:13px;line-height:22px;margin:15px 0;}
    .service_box{padding:0px 20px 35px;}
    .marketing_services_title h3{font-size:24px;}
    .marketing_services_title h5{font-size:14px;}
    .team_box h4{font-size:23px;margin-top:15px;}
    .sec_title{margin-bottom:25px;}
    .employee_img::before{width:272px;height:296px;}
    .pkg_top img{width:90px!important;}
    .pkg_top{padding-top:30px;padding-left:20px;}
    .pkg_bottom{padding:30px 0;}
    .pkg_btn{font-size:15px;padding:13px 35px;margin-top:30px;}
    .testi_box{padding:25px;}
    .testi_box p{font-size:14px;}
    .client_name{margin-left:15px;}
    .client_name h4{font-size:16px;}
    .client_name p{font-size:12px;}
    .faq_title p br{display:none;}
    .collapse_wrap .card-body{padding:10px 15px 15px;}
    .collapse_wrap .card-header{padding:15px 15px;}

    /* inner-pages-responsive */
    .inner_cta_btn a{display:none;}
    .inner_cta_title{justify-content:center;}
    .how-is-magento-list ul li{font-size: 13px;}
    .are-seo-services{font-size: 27px;}
    .why-choose-us {font-size: 24px;}
}