

body
{
font-family: 'Poppins', sans-serif;
font-size: 13px;
color: #767984;
counter-reset: step;
}
h1,h2,h3,h4,h5,h6{color: #444956;}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span {font-family: 'Poppins', sans-serif;}
img{max-width: 100%; height: auto}
label.error {display: none !important;}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: normal;
}

a:hover{
    text-decoration: none;
}

.sidebar ul li a {
    color: #645151;
}
header {
    padding: 20px 0;
    border-bottom: #d8d8d8 1px solid;
    margin-bottom: 1px;
    background-color: #444956;
}
header ul.navigation-header {
text-align: right;
margin: 19px 0 0 0;
}

header ul.navigation-header li {
display: inline-block;
color: #282828;
font-size: 13px;
font-weight: 500;
text-transform: uppercase;
margin: 0 0 0 14px;
}
.special-height {
    min-height: 400px;
}
.combo-height {
    min-height: 520px;
}
.order-prev-agent input[type="text"], 
.order-prev-agent input[type="email"],
.order-prev-agent input[type="tel"],
.order-prev-agent select,
.order-prev-agent text area {
    padding: 8px 11px;
    border: #d4d4d4 1px solid;
    width: 100%;
}

.header-logo{
    display: block;
}
header ul.navigation-header li a {
color: #282828;
display: block;
}

 
.page-title {
    padding: 30px 0;
    border-bottom: 2px #e4e4e4 solid;
    text-align: center;
}
.page-title h1 {
color: #444956;
font-size: 35px;
margin-bottom: 8px;
}

section.content-seq {
    background: #fff;
    padding: 100px 0 100px 0;
}

li.grand-total.last {
/*border-top: #ccc dotted 1px;*/
border-bottom: #e2e2e2 1px solid;
border-left: #e2e2e2 1px solid;
margin: 0 0 30px 0!important;
background: #f9f9f9;
padding: 20px 25px !important;
color: #000;
font-weight: 600;
width: 100%;
}

.ordr-sum-sub-total li {
margin: 0 0 13px 0!important;
padding: 0 6px !important;
}

li.grand-total.last span {
font-size: 18px;
font-weight: 700 !important;
}
li.agree-check.first label {
    display: block !important;
    position: absolute;
    bottom: -27px;
    font-size: 11px;
    color: red;
    text-transform: none;
}
.form-sec ul li {padding-bottom: 20px;clear: both;}

.form-sec ul li label {
display: block;
margin-bottom: 8px;
color: #515151;
font-size: 15px;
text-transform: uppercase;
}

.form-sec ul li label .req-field-star {
color: red;
}

input.seq_continuew_btn.continue_active {
background: #92002c!important;
}
.form-sec ul li input[type=text], .form-sec ul li input[type=email], .form-sec ul li input[type=tel], .form-sec ul li input[type=password], .form-sec ul li select, .form-sec ul li textarea {background: #fff;font-size: 14px;border-radius: 2px;color: #4e4e4e;border: #e2e2e2 1px solid;padding: 16px 15px;text-transform: none;width: 100%;}

.radio-field-set label {
display: inline-block !important;
width: 28% !important;
}

.radio-field-set label input {
margin-right: 6px;#92002cposition: relative;
top: 3px;
}

.radio-field-set {
margin-top: 23px;
}

.form-sec ul li textarea {
min-height: 242px;
}

.submit-btn input[type="submit"] {
width: 96%;
color: #fff;
text-transform: uppercase;
font-size: 18px;
padding: 21px 0;
background: #ff0042;
}

.submit-btn button[type="submit"] {width: 100%;color: #fff;text-transform: uppercase;font-size: 18px;padding: 0;background: #16171a;height: 50px;border: 0;cursor: pointer;}
.submit-btn.first.last{
    padding-bottom: 0px;
}
.form-sec ul{
    margin-bottom: 0px;
    padding: 0;
}
.sidebar h2 span {
font-size: 40px;
display: block;
color: #ff0042;
font-style: italic;
}

.sidebar h2 {
margin-bottom: 20px;
font-size: 42px;
}

.sidebar ul li {-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;position: relative;padding-left: 78px;margin-bottom: 51px;font-size: 14px;color: #515151;font-weight: 500;padding-top: 12px;list-style-type: none;}

.sidebar ul li i {
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;
position: absolute;
left: 0;
color: #c8c8c8;
font-size: 29px;
width: 65px;
border: #c8c8c8 1px solid;
border-radius: 100%;
height: 65px;
text-align: center;
padding-top: 16px;
top: 0;
}

.sidebar ul li span {
display: block;
text-transform: uppercase;
font-size: 15px;
font-weight: 400;
margin-bottom: 4px;
}

.sidebar {border-left: 0;padding: 0 0 0 31px;margin-left: 0;}

footer {background: #16171a;padding: 15px 0;}

footer a {
    color: #767984 !important;
    margin: 0 10px 0;
}

footer a {
color: #767984 !important;
}

section.steps-seq {
padding: 60px 0 50px;
text-align: center;
}

section.steps-seq ul li {
display: inline-block;
padding: 0;
position: relative;
width: 33%;
}
section.steps-seq ul li.last:after {
display: none;
}

section.steps-seq ul li:after {content: "";background: #ccc;height: 2px;width: 100%;position: absolute;top: 36px;}

i.icon_bg:before {
background-image: url('../images/sprite.png');
display: inline-block;
background-repeat: no-repeat;
content: "";
}

.step_icon_pd:before {
background-position: -4px -7px;
width: 42px;
height: 42px;
}

.step_icon_ps:before {
width: 40px;
height: 44px;
background-position:  -59px -7px;
}

.step_icon_os:before {
width: 35px;
height: 40px;
background-position: -114px -10px;
}

.step_icon_pymnt:before {
width: 38px;
height: 32px;
background-position: -167px -11px;
}

.step_icon_thanku:before {
width: 44px;
height: 36px;
background-position: -221px -17px;
}

i.icon_bg {
padding: 15px 0 0 0;
text-align: center;
width: 78px;
position: relative;
height: 76px;
display: inline-block;
border: #dedee0 3px solid;
border-radius: 100%;
}

i.icon_bg.step_icon_os {
padding-top: 17px;
}

i.icon_bg.step_icon_pymnt {
padding-top: 20px;
}

i.icon_bg.step_icon_thanku {
padding-top: 21px;
}

span.check-icon {
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
content: "\f058";
-moz-osx-font-smoothing: grayscale;
position: absolute;
right: -10px;
font-size: 16px;
background: #dedee0;
color: #ffffff;
bottom: 1px;
padding: 4px;
border-radius: 100%;
}

span.check-icon:before {
content: "\f00c";
}

section.steps-seq ul li h6 {
color: #444956;
text-transform: uppercase;
display: block;
margin-top: 13px;
}

.step-active-check  i {
border-color: #ff0042;
}

.step-active-check span.check-icon{
background-color: #ff0042;
}

section.content-seq h4 {
font-size: 32px;
margin-bottom: 18px;
font-weight: 400;
}

.step-1-form ul li {display: inline-block;width: 100%;position: relative;}
.phone-code {
width: 25% !important;
display: inline-block;
}

.phone_number {
width: 73% !important;
display: inline-block;
margin-left: 4px;
}

.agree-check {font-size: 13px;width: 100% !important;color: #000;position: relative;padding-left: 19px;padding-bottom: 0 !important;margin-bottom: 20px;}

.agree-check a {
color: #000 !important;
}

.agree-check input[type=checkbox] {
z-index: 1;
position: absolute;
left: 0;
top: 3px;
}

li.already-account-li.last{
font-size: 15px;
color: #515151;
padding-top: 30px;
display: inline-block !important;
}

.btn-txt-right {
display: inline-block !important;
width: 48%;
margin-right: 15px;
font-size: 15px;
color: #515151;
padding-top: 30px;
padding-left: 20px;
}

.already-account-li.last a, .btn-txt-right a {
color: #ff0042;
}

.forget_pass_txt {
font-size: 15px;
color: #515151;
padding-top: 9px;
text-align: right;
}

.forget_pass_txt  a{color: #ff0042;font-weight: 600;}


.submit-btn {
width: 40%;
display: inline-block !important;
}


.sidebar ul li i.fa.fa-phone {

padding-top: 18px;
}
.sidebar ul li:hover a, .sidebar ul li:hover{
color: #ff0042;

}
.sidebar ul li:hover i {
color: #ff0042;
border-color: #ff0042;
}


.packages-col {
padding: 0;
text-align: center;
margin-bottom: 30px;
}
.packages-col h3 {
font-size: 51px;
text-transform: uppercase;
margin-bottom: 30px;
font-weight: 600;
}
.packages-col h3 span {
color: #ff0042;
font-size: 37px;
display: block;
text-transform: capitalize;
font-style: italic;
font-weight: 400;
}
.packages-col >div>div>div{padding: 0 0 20px 0;min-height: 400px;color: #fff;background: #212121;text-align: left;position: relative;margin-bottom: 30px;}
 
.packages-col >div>div>div .pkg-title{
margin-bottom: 19px;
}
.packages-col >div>div>div .pkg-title h2{
font-size: 27px;
text-transform: capitalize;
color: #fff;
margin-bottom: 20px;
text-align: center;
line-height: 29px;
padding: 22px 0;
}
.packages-col >div>div>div .pkg-title h2>span{
font-size: 18px;
display: block;
text-transform: capitalize;
font-style: italic;
}

.packages-col >div>div>div .pkg-title ul{
color: #fff;
font-size: 12px;
margin: 0 17px;
min-height: 216px;
}
.packages-col >div>div>div .pkg-title ul li{
position: relative;
margin-bottom: 10px;
padding-left: 16px;
}
.packages-col >div>div>div .pkg-title ul li:before {
font: normal normal normal 14px/1 FontAwesome;
font-size: 9px;
text-rendering: auto;
position: absolute;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f00c";
left: 0;
top: 1px;
}
.packages-col >div>div>div .pkg-feature-list{
padding: 0 10px;
margin-bottom: 7px;
}
.packages-col >div>div>div .pkg-feature-list h4{
font-size: 15px;
color: #2f2f2f;
font-weight: 400;
margin-bottom: 13px;
position: relative;
}
.packages-col >div>div>div .pkg-feature-list h4:after {
content: "";
height: 1px;
position: absolute;
width: 57%;
right: 0;
background: #dcdcdc;
top: 7px;
}
.packages-col >div>div>div .pkg-feature-list ul{
color: #383838;
font-size: 10px;
margin: 0;
}
.packages-col >div>div>div .pkg-feature-list ul li{
display: inline-block;
width: 49.2%;
margin-bottom: 11px;
position: relative;
padding-left: 9px;
}
.packages-col >div>div>div .pkg-feature-list ul li:before {
content:"";
background: red;
width: 2px;
height: 2px;
position: absolute;
left: 0;
top: 3px;
}
.packages-col >div>div>div .pkg-recommendation {
padding: 10px 10px 0 10px;
border-top: #dcdcdc 1px solid;
margin-bottom: 20px;
}
.packages-col >div>div>div .pkg-recommendation:after {
content: "";
display: block;
clear: both;
}
.packages-col >div>div>div .pkg-recommendation h6 {font-size: 15px;color: #fff;}
.packages-col >div>div>div .pkg-recommendation .stars5 {
background: url('../images/sprite-pkg.png') no-repeat -183px -1px;
width: 95px;
height: 16px;
display: block;
margin-top: 17px;
}
.packages-col >div>div>div .pkg-recommendation .stars4 {
background: url('../images/sprite-pkg.png') no-repeat -183px -19px;
width: 95px;
height: 16px;
display: block;
margin-top: 17px;
}
.packages-col >div>div>div .pkg-recommendation .pkg-price {
float: right;
text-align: right;
line-height: 31px;
}
.packages-col >div>div>div .pkg-recommendation .pkg-price span.old-price {
font-size: 23px;
color: #aeaeae;
display: block;
text-decoration: line-through;
}
.packages-col >div>div>div .pkg-recommendation .pkg-price span.org-price {display: block;font-size: 34px;color: #fff;}

.packages-col >div>div>div label a{
display: block;
text-align: center;
font-size: 15px;
text-transform: uppercase;
color: #fff;
padding: 13px 0;
width: 242px;
margin: 24px auto 0;
}
.packages-col >div>div>div span.most-sold-tag {
background: url('../images/sprite-pkg.png') no-repeat -4px -40px;
width: 78px;
height: 60px;
position: absolute;
top: -6px;
left: -7px;
}
.packages-col >div>div>div span.hot-offer-tag {
background: url('../images/sprite-pkg.png') no-repeat -95px -41px;
width: 78px;
height: 60px;
position: absolute;
top: -6px;
left: -7px;
}
.pkg-1 .pkg-title {background: #212121;}
.pkg-1 .pkg-title h2 {background: #0d0606;border-bottom: #3b3b3b 1px solid;}
.pkg-2 .pkg-title {background: #212121;}
.pkg-2 .pkg-title h2 {background: #0d0606;border-bottom: #3b3b3b 1px solid;}
.pkg-3 .pkg-title {background: #212121;}
.pkg-3 .pkg-title h2 {background: #0d0606;border-bottom: #3b3b3b 1px solid;}

.pkg-4 .pkg-title {
background: #b3558c;
}
.pkg-4 .pkg-title h2 {
background: #9d3e71;
border-bottom: #7b1b4f 1px solid;
}
.pkg-1 label a {background: #ff0042;} 
.pkg-2 label a {background: #ff0042;} 
.pkg-3 label a {background: #ff0042;} 

.pkg-4 label a{
background: #b3558c;
} 
.pkg-rating {
float: left;
padding-top: 4px;
}

.packages-col >div>div>div .pkg-recommendation+label {
display: block;
position: relative;
}
input.pkg_select_radio {
position: absolute;
left: 26px;
bottom: 11px;
width: 17px;
display: none;
height: 17px;
}

/*#tabs-pkg>ul {
border-bottom: #999ca3 1px solid;
text-align: center;
margin: 0 0 40px 0;
}

#tabs-pkg>ul>li{
font-size: 15px;
text-transform: uppercase;
color: #444956;
display: inline-block;
margin: 0 19px 0px;
}

#tabs-pkg>ul>li>a {
display: block;
color: #444956;
background: #dedee0;
padding: 18px 30px;
}

#tabs-pkg>ul>li:hover a, #tabs-pkg>ul>li.ui-tabs-active a {
background: #444956 !important;
color: #fff !important;
}*/
.hide_pkg_toggle{display: none}
#web_tab, #logo_tabs, #video_tabs, #branding_tabs{display: none}
.seq_view_all_pkg {
background:#b7002f;
margin: 15px 15px;
display: inline-block;
padding: 18px 40px;
text-transform: uppercase;
font-weight: 400;
font-size: 15px;
color: #fff !important;
width: 260px;
}

.seq_continuew_btn {
background: #444956;
margin: 16px 9px;
display: inline-block;
padding: 17px 40px;
text-transform: uppercase;
font-weight: 400;
font-size: 15px;
width: 260px;
color: #fff !important;
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.seq_thankyou h4 {
font-style: italic;
color: #ff0042;
font-family: 'Poppins', sans-serif;
font-size: 45px !important;
margin: 0 0 36px 0px !important;
}

.seq_thankyou {
font-size: 18px;
color: #444956;
}

.seq_thankyou p {
line-height: 28px;
}
.page-title p {
color: #ff0042;
font-size: 16px;
margin: -8px 0 0 0;
}



.step-3-form {}

.order_sum_col.row {
background: #fff;
border: #e2e2e2 1px solid;
}

.order_sum_col.row>.col-md-6 h5, .order_sum_col.row>.col-md-6+.col-md-3 h5, .order_sum_col.row>.col-md-6+.col-md-3+.col-md-3 h5 {
font-size: 13px;
color:#000000;
text-transform: uppercase;
padding: 14px 18px;
border-bottom: #e2e2e2 1px solid;
}
.order_sum_col .col-md-6 {
padding: 0;
}

.order_sum_col .col-md-6+.col-md-3, .order_sum_col .col-md-6+.col-md-3+.col-md-3 {
padding: 0;
}

.order_sum_col .col-md-6+.col-md-3+.col-md-3 {}

.pkg_desc_view {
padding: 30px 25px 20px 25px;
}

.order_sum_col.row h3 {
font-size: 22px;
color: #444956;
margin-bottom: 24px;
text-transform: uppercase;
font-weight: 400;
}

.order_sum_col.row ul.check_list_red {
padding: 0 0 10px 0;
position: relative;
}
ul.check_list_red {}
ul.check_list_red li:before {
content: "\f00c";
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
color: #ff0042;
-moz-osx-font-smoothing: grayscale;
left: 0;
position: absolute;
}

ul.check_list_red li {
margin: 0;
position: relative;
padding: 0 0 0px 25px;
font-size: 18px;
color: #444956;
font-weight: 400;
margin-bottom: 20px;
width: 100%;
}

ul.check_list_red li:before {
content: "\f058";
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
color: #ff0042;
-moz-osx-font-smoothing: grayscale;
left: 0;
position: absolute;
}

.order_sum_col.row ul.check_list_red:before {
background: #e2e2e2;
height: 100%;
position: absolute;
width: 1px;
content: "";
visibility: hidden;
left: 43%;
top: 0;
}

.more_features_order {margin-top: 16px;border-top: #ccc 1px dotted !important;padding-top: 12px;}

.more_features_order h6 {font-size: 13px;color: #464646;text-transform: uppercase;font-weight: 800;margin-bottom: 13px;}

.order_sum_price_list.bg_gray_ordr_summ {
/*background: #f9f9f9;*/
border-left: #e2e2e2 1px solid;
padding: 40px 18px 20px 18px;
/*height: inherit;*/
text-align: center;
font-size: 28px;
color: #ff0042;
}

.order_sum_price_list.bg_gray_ordr_summ.border-left-gray {}
    span.inner {
        color: #666666;
    }
    span.outer {
        color: red;
        text-decoration: line-through;
    }

.order_sum_col.row .col-md-3 h5 {
text-align: center;
}

.col-md-12.discount-ordr-summ {
border-top: #e2e2e2 1px solid;
/*padding: 20px;*/
padding: 0px;
color: #7f7f7f;
}

.col-md-12.discount-ordr-summ h5 {
font-size: 13px;
color: #737373;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 19px;
}

.col-md-12.discount-ordr-summ p {
margin: 0 0 10px 0;
}

.col-md-12.discount-ordr-summ .row>.col-md-6 {
padding: 0 20px;
}

.col-md-12.discount-ordr-summ input[type="text"] {
background: #fff;
border: #e6e6e6 1px solid;
padding: 10px 13px;
width: 220px;
}

.discount-ordr-summ input[type="submit"], .discount-ordr-summ input[type="button"] {
background: #ff0042;
text-transform: uppercase;
color: #fff;
display: inline-block;
font-weight: 600;
padding: 13px 21px;
margin-left: -2px;
}

.ordr-sum-sub-total {
/*border-top: #e6e6e6 1px solid;
border-bottom: #e6e6e6 1px solid;
padding: 20px 0 0 0;
width: 100%;
margin: 7px auto;*/
}

.ordr-sum-sub-total span {
text-transform: uppercase;
display: inline-block;
width: 49%;
font-weight: 600;
}

.ordr-sum-sub-total span+span {
text-align: right;
font-weight: 400;
}

.select_paymnet_option.row {
margin-top: 30px;
}

.select_paymnet_option.row h2 {
font-size: 32px;
margin-bottom: 15px;
font-weight: 400;
}

.payment-selection {
background: #fff;
padding: 40px;
border: #e2e2e2 1px solid;
color: #7f7f7f;
}

.payment-selection ul li {display: inline-block; width: initial; min-width: 254px;
 margin:0 15px 15px 0; border: #d8d8d8 1px solid;border-radius: 4px; background-color: #ffffff;  padding:0px; text-align: center; box-shadow: 5px 5px 5px 0px rgba(226,226,226,0.4);
}
.payment-selection ul li.current { border:1px solid #ff0042; background-color: #fcfcfc; 
box-shadow:  5px 5px 5px 0px rgba(226,226,226,0.2); }
.payment-selection ul {
margin: 0;
}

.payment-selection ul li input[type="radio"] {
        display: block;
/*    margin-right: 11px;
    margin-top: 9px;*/
    margin: 10px auto;
}

.payment-selection ul li label {
        text-transform: capitalize;
    padding: 20px 18px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    min-height: 170px;
}

span.credit-card_img {
background: url('../images/sprite.png') no-repeat 0 -90px;
width: 240px !important;
height: 32px;
}

.payment-selection ul li span {display: inline-block;/*width: 81%;*/}

.payment-selection ul li span+span {
margin-left: 30px;
margin-top: -11px;
}

span.paypal_img {
background: url('../images/sprite.png') no-repeat -1px -126px;
width: 48px !important;
height: 34px;
}

span.e-check_img {
background: url('../images/sprite.png') no-repeat -58px -129px;
width: 43px !important;
height: 27px;
}

.order-summery-submit input[type="submit"], .order-summery-submit input[type="button"] {
background: #ff0042;
display: inline-block;
padding: 17px 35px;
text-transform: uppercase;
font-weight: 600;
font-size: 14px;
color: #fff;
}

.order-summery-submit {
text-align: right;
margin-top: 30px;
}

li.li-col-6 {
clear: none !important;
width: 48%;
margin-right: 16px;
}

.logo-brief-form textarea {
height: 130px !important;
}

.checkbox-fieldset {
margin-top: 16px;
}

.checkbox-fieldset label {
display: inline-block !important;
margin: 0 25px 0 0 !important;
}

.checkbox-fieldset label input[type="checkbox"]{
margin-right: 4px;
display: inline-block;
top: 2px;
position: relative;
}

a.link-btn-red.pull-left {
background: #ff0042;
display: inline-block;
padding: 15px 10px;
text-transform: uppercase;
font-weight: 400;
font-size: 11px;
text-align: center;
color: #fff;
margin-right: 30px;
width: 290px;
}

a.link-btn-red.pull-left span {
display: block;
font-size: 13px;
font-weight: 600;
}


a.link-btn-gray {
background: #444956;
display: inline-block;
padding: 15px 10px;
text-transform: uppercase;
font-weight: 400;
font-size: 11px;
text-align: center;
color: #fff;
margin-right: 30px;
width: 290px;
}

a.link-btn-gray  span {
display: block;
font-size: 13px;
font-weight: 600;
}

.agree-check #agree-error {
border: red 1px solid;
display: block !important;
background: red;
font-size: 0px;
text-indent: -9999em;
position: absolute;
left: -2px;
top: 1px;
width: 16px;
height: 17px;
z-index: 0;
}



div.custom_file_upload {
margin: 0;
}


div.file_upload {
width: 120px;
background: #444956;
display: inline;
position: absolute;
overflow: hidden;
cursor: pointer;
border: 0px none;
font-weight: bold;
color: #FFF;
text-align: center;
padding: 15px 0;
}
div.file_upload:before {
content: 'BROWSE';
position: absolute;
left: 0;
right: 0;
text-align: center;
cursor: pointer;
top: 38%;
}

div.file_upload input {
position: relative;
width: 100%;
display: inline;
cursor: pointer;
opacity: 0;
}
.web-brief-form textarea {
min-height: 115px !important;
}
.li-col-3 {width: 40% !important;clear: none !important;}
.li-col-9 {width: 56% !important;clear: none !important;margin-left: 30px;}
.height-23{height:23px}


.custom_file_upload input[type="text"] {
background: #efeff0 !important;
border: 0px none !important;
color: #000 !important;
}
li.clearfix {
margin: 0 !important;
}



.promo-code-error{display: block;color:red;font-size: 10px;margin-top: 5px;}



.phoneInfo {text-align: right;padding-top: 0;color: #000;text-transform: uppercase;}

.phoneInfo ul li {
display: inline-block;
margin-left: 20px;
background: #fff;
}
.more_features_order li {
    padding: 0 !important;
    margin: 0 !important;
    width: 68% !important;
    font-size: 13px !important;
    clear: none !important;
}
p.ssl {
    display: block;
    padding-top: 10px;
    color: green;
    font-weight: 600;
    font-size: 11px;
    padding-top: 11px;
}

p.ssl i {
    color: black;
    font-size: 20px;
    margin-right: 6px;
    margin-top: -4px;
}
li.dsc-price.last {
    background: #444956;
    font-size: 19px !important;
    padding: 9px 3px !important;
    color: #fff;
    width: 25% !important;
    text-align: center;
    margin-top: -15px !important;
}
.phoneInfo ul li a {color: #666;padding: 0;width: 200px;text-align: center;height: 50px;display: flex;align-items: center;justify-content: center;font-size: 14px;font-weight: 500;}


table#tbl_Error tr, table#tbl_Error, table#tbl_Error tbody {
    width: 100% !important;
}

table#tbl_Error td {
    color: red;
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    padding-left: 8px !important;
}

table#tbl_Error td.f11.fv.bold {
    width: 200px;
}

table#tbl_Error td img {
    position: absolute;
    left: 0;
}

table#tbl_Error td.Brown2 {
    padding-left: 21px !important;
}


.error_email_already{
        font-size: 11px;
    color: red !important;
    position: absolute;
    right: 0;
    bottom: 0;

}

.step-1-form ul li input#pw1+label.error,
.step-1-form ul li input[name="cpass"]+.error {
    display: block;
    color: red;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.clearfix {
    clear: both;
}


input#txtPaymentlink {
    width: 100% !important;
}

.order-prev-agent.col-md-12 {
    background-color: white;
}

.order-prev-agent .fc-purple {
    font-size: 14px;
    color: #656565;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}
button#PayThroughFunds {
    display: inline-block;
    margin-left: 20px;
}
button#btnGenerate {
    margin-top: 21px !important;
}

button#imgbtnSendPaymentLink {
    margin-top: 13px !important;
}

div#dvFullAmount {
    margin: 20px 0 10px 0 !important;
    text-align: center;
    background: #f5f5f5;
    padding: 10px 0;
}
span.or {
    background: #ff0042;
    display: inline-block;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    margin-right: 4px;
    border-radius: 100%;
    height: 36px;
    width: 37px;
}


.order-prev-agent div {
    margin-bottom: 22px;
    background: #fff;
}
button#btnGenerate, button#imgbtnSendPaymentLink, button#PayThroughFunds {
    background: #ff0042;
    color: #fff;
    border: 0px none;
    padding: 13px 21px;
    cursor: pointer;
    margin-top: 0;
}
.order-prev-agent:after, .order-prev-agent:before {content: "";display: block;clear: both;}

.order-prev-agent {
    clear: both;
    margin-top: 30px;
}
div#dvFullAmount label {
    display: inline-block;
    padding-top: 12px;
}
.success-msg {
    background: #009400;
    color: #fff;
    font-size: 17px;
    padding: 16px 13px 10px;
}

.success-msg i {
    background: #026f02;
    padding: 6px;
    margin-right: 7px;
    margin-top: -6px;
}

#tabs-pkg>ul {
text-align: center;
margin: 0 0 40px 0;
}

#tabs-pkg>ul>li{
font-size: 15px;
text-transform: uppercase;
color: #444956;
display: inline-block;
margin: 0 2px 0px;
}

#tabs-pkg>ul>li>a {
display: block;
color:#2b2e31 !important;
padding: 18px 15px;
}

#tabs-pkg>ul>li:hover a, #tabs-pkg>ul>li.ui-tabs-active a {
color: #ff0042 !important;
border-bottom: 2px solid #ff0042;
}


.pkg-1 .package-box{min-height: 400px; background-color: #fff;border-top-left-radius: 10px;border-top-right-radius: 10px; position: relative;    margin-bottom: 50px;    padding: 0;}

.pkg-1 .package-box .header{background-color:#ff0042; text-align: center;     padding: 0px 0px;border-top-left-radius: 10px;border-top-right-radius: 10px;min-height: 150px; overflow: hidden;}
.pkg-1 .package-box .header h2{font-size: 40px;color:#fff;}
.pkg-1 .package-box .header p{font-size: 14px;margin: 0;    clear: both;}
.pkg-1 .package-box .header img{position: absolute;top: 0;left: 0;}
.pkg-1 .package-box .header h3{font-size: 26px;color:#fff;    margin-bottom: 5px;}
.pkg-1 .package-box .header h2 span{font-size: 34px;}
.pkg-1 .package-box .header h2 span sub{font-size: 16px;position: relative;top: 10px;    left: -10px;}
.pkg-1 .package-box .header h2 span sub s{
    font-family:  lato;
}
.pkg-1 .package-box .header h2 span sup{
    font-family:  lato;
}
.package-box .header h3 small {
    color: #fff;
}

.pkg-1 .package-box .content{    padding: 30px 20px;    position: relative;}
.pkg-1 .package-box .content ul{color: #000; }
.pkg-1 .package-box .content ul li{position: relative;text-align: left;font-size: 12px; color: #2b2e31; padding-right: 20px; padding-bottom: 10px; transition: 0.6s; padding-left: 20px; font-family: Lato;}
.pkg-1 .package-box .content ul li::before{content: "";left: 0px;top: 3px;position: absolute;background: url('../images/check-icon.png');width: 11px;height: 11px;display: inline-block;background-size: cover;}
.pkg-1 .package-box .bottons{display: block;text-align: center;font-size: 18px;color: #fff;padding: 13px 0;width: 200px;margin: 0 auto;background-color: #ff0042;position: absolute;bottom: -24px;left: 0;right: 0;border-radius: 7px;    font-weight: 600;}
.list-scroll{height: 250px;}
.pkg-1 .package-box .content ul li .child-tooltip{ position: absolute; right: 0;  top: 7px; color: #ff0042; }
.pkg-1 .package-box .content ul li .child-tooltip:before{  content: "\f05a"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; }
.pkg-1 .package-box .content ul li.haschildren ul{     display: none;
    position: absolute;
    border-radius: 4px;
    opacity: 0.8;
    right: 0px;
    color: #fff;
    width: 220px;
    background: #000;
    padding: 10px 10px;
    overflow: hidden;
    z-index: 9; }
.pkg-1 .package-box .content ul li.haschildren ul{ display: none; margin-top: 10px; position: absolute; border-radius: 4px; opacity: 0.8; right: 0px; color: #fff; width: 220px; background: #000; padding: 10px 10px; overflow: hidden; z-index: 9; }
.pkg-1 .package-box .content ul li.haschildren ul li{     padding: 0; color: #fff; font-size: 12px;  padding: 3px 10px; }
.pkg-1 .package-box .content ul li.haschildren ul li:before{ display: none; }

.list-scroll p{font-weight: 700;}






.package-box .header h2 span.cut-prc {
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 0;
    
    text-decoration: line-through;
    color: #ffda30;
    font-weight: 500;
}

.header-strip {
   font-size: 13px !important;
    color: #fff;
    text-align: center;
    background: #b7002f;
    padding: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: 9px !important;
}
.cut-prc {
    float: left;
    margin-top: 3px;
    background: #b7002f;
    padding: 3px 14px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    font-size: 18px;
    color: #ffda30;
}
.header-right {
    float: left;
    margin: 0px 5px 0 25px;
    line-height: 0.8;
}
.header-right .h5 {
   font-size: 30px;
    position: relative;
    top: 0;
    font-weight: 400;
    color: white;
}
.header-right .price-main {
        font-size: 40px;
    position: relative;
    bottom: 7px;

}
.cut-prc span {
   font-size: 16px;
    position: relative;
    top: 2px;
    font-weight: 200;
}
header .taglin {
    padding-top: 10px;
    clear: both;
    text-align: center;
    color:#fff;

}

.head-title {
    color: #fff;
}

.pkg-1 .package-box .header h2 span sub s {
    font-family: sans-serif !important;
}

.free-features-main { background-color: #fcfcfc; border: 1px solid #e2e2e2;
border-radius: 5px; }
.free-features-main p { color: white; background-color: #7e828c; padding: 10px 20px ; 
    margin:0px; font-size: 18px; font-weight: 700; text-transform: uppercase;
    border-radius:5px 5px 0 0 ; }


.free-features-main ul {
padding: 15px 20px 10px 20px!important;
margin:0px!important; 
position: relative!important;
}

.free-features-main li {
margin: 0;
position: relative;
padding: 0 0 10px 15px!important;
font-size: 14px!important;
color: #666666!important;
font-weight: 400!important;
margin:0px!important;  
width: 100%!important;
}

.free-features-main ul li:before {
content: "\f054";
font: normal normal normal 14px/1 FontAwesome;
font-size: 11px;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
color: #ff0042;
-moz-osx-font-smoothing: grayscale;
left: 0;
top: 2px;
position: absolute;
}


.fc-red{color:red;}

.further-steps #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 6rem;
    counter-reset: step;
    position: relative;
    z-index: 99;
    padding-left: 0;
}
.further-steps #progressbar li {
    list-style-type: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}
section.steps-seq ul li:before{
    counter-increment: step;
    content: counter(step);
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    font-size: 20px;
    color: #333;
    background: #cccaca;
    border-radius: 50px;
    margin: 0 auto 10px auto;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 39;
}
section.steps-seq ul li.color:after{
    background: white;
}
section.steps-seq ul li.active:after{

color: #fff;

text-align: center;

background-color: #16171a;
}
section.steps-seq ul li.active:before {
    color: #fff;
    text-align: center;
    background-color: #16171a;
}
.boxpackages {
    height: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 20px 20px 18px;
    float: none;
    width: 100%;
    box-shadow: -2px 10px 40px -10px #00000059;
    position: relative;
    border: 0;
    transition: all 0.3s ease-out;
}
.boxpackages .packheads {
    border-bottom: 1px solid #d1d7e3;
}
.boxpackages .packheads h3 {
    font-size: 21px;
    color: #111111;
    font-weight: 700;
    margin: 0px 0 5px;
}
.boxpackages .packheads p {
    font-size: 13px;
    color: #242424;
    min-height: 37px;
    margin-bottom: 0px;
}
.boxpackages .packdetails {
    padding: 10px 0 0;
    position: relative;
    height: 100%;
}
.fleft {
    float: none;
}
.boxpackages .packdetails .packtitles .fleft h3 {
    font-size: 44px;
    color: #000;
    font-weight: 700;
    margin: 0;
}
.boxpackages .packdetails .packtitles .fleft h3 sup {
    font-size: 32px;
    font-weight: 600;
}
.packtitles .fright {
    position: absolute;
    right: 0;
    background: linear-gradient(to right, #fd0043 , #721e72);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
}
.packdetails .packtitles .fright:before {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 999999;
    background-color: transparent;
    left: -18px;
    content: "";
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 18px solid #fd0043;
    transform: rotate(180deg);
    top: 0px;
}
.packdetails .packtitles .fright h4 {
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin: 0px;
}
.packdetails .listpacks {
    display: block;
    width: 100%;
    float: left;
    padding: 15px 0;
    margin: 0;
    border-bottom: 0;
    height: 295px;
    overflow: hidden;
}
.boxpackages .packdetails .listpacks h3 {
    font-size: 22px;
    color: #6f1f73;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.packdetails .botarea-pack {
    padding: 0;
    width: 100%;
    float: none;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 0;
    background-color: #fff;
}
.packdetails .listpacks li {
    position: relative;
    padding: 5px 25px;
    font-size: 14px;
    color: #455164;
}
.packdetails .listpacks li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
    color: #6f1f73;
}
.packdetails .listpacks li:after, .pacbundles-det .headbx-bundle ul.listbundles-packbx li:after {
    content: '';
    right: 0px;
    height: 1px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#e0e3eb), to(transparent));
    background-image: -webkit-linear-gradient(left, #e0e3eb, transparent);
    background-image: -moz-linear-gradient(left, #000, transparent);
    background-image: -o-linear-gradient(left, #000, transparent);
    display: block;
    position: absolute;
    bottom: 0;
    left: 25px;
}
.packdetails .packtitles .fright h4 span.cutprice {
    text-decoration: line-through;
    display: block;
    font-size: 23px;
    color: white;
}
.packdetails .botarea-pack .liovechats-bx a span:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f4ad";
    position: absolute;
    right: -25px;
    top: -2px;
    color: #ff0042;
    font-size: 16px;
}
.packdetails .botarea-pack .liovechats-bx a h5 {
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    margin: 0;
    font-size: 24px;
}
.packdetails .botarea-pack .liovechats-bx a span {
    font-size: 14px;
    color: #242424;
    position: relative;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    background-color: #ff0042;
    background-color: #ff0042;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
    height: auto;
}
.mCSB_scrollTools {
    right: -26px;
}
.mCSB_scrollTools {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_dragger_bar{
    margin-left: 5px !important;
}
.select-logo .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    width: auto;
    padding-bottom: 10px;
}
.select-logo .list-inline>li img{
    border:3px solid rgb(119, 119, 119);
}
.select-logo .list-inline>li p{
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}
.logo-brief-form ul li label{
    line-height: 24px;
}
.logo-brief-form input, .logo-brief-form select{
    margin-top: 6px;
    margin-bottom: 0;
}
.select-logo{
    margin-top: 12px;
}
.logo-brief-form ul li input[type=text], .logo-brief-form ul li select{
    background: #cccaca;
}
.logo-brief-form hr{
    margin-top: 0px;
}
#cmbCardMonth{
    width: 48%;
    display: inline-block;
}
#cmbCardYear{
     width: 48%;
    display: inline-block;
    float: right;
}
ul.package-detail {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    height: 230px;
}
ul.package-detail li {
    line-height: 24px;
    font-size: 14px;
}

.main-privacy {
    padding: 40px 0;
}
.main-privacy h3 {
    color: #000;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}
.main-privacy h4 {
    font-size: 26px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
}
.main-privacy p, .main-privacy li {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 22px;
}
input.error {
    border-color: red !important;
}
.thankyou_sec {
    padding: 100px 0;
    height: 85vh;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.thankyou_sec + footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.main-thankyou {
    text-align: center;
}
.main-content__checkmark {
    font-size: 9.75rem;
    line-height: 1;
    color: #3366cc;
}
.site-header__title {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1.1;
}
.main-content__body {
    margin: 20px 0 0;
    font-size: 1.25rem;
    line-height: 1.4;
}
.start_live_chat {
    font-size: 19px;
    background-color: #16171a;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 4px;
    margin: 20px 0 0;
    color: white !important;
    text-decoration: none;
    border-radius: 50pc;
}
